[mysqld]

# change server-id for slave db
# server-id                          = 102

# TokuDB - uncomment below settings after tokudb engine and tokubackup enabled
# default_storage_engine             = TokuDB
# tokudb_row_format                  = TOKUDB_ZLIB
# tokudb_rpl_unique_checks           = 0
# tokudb_rpl_lookup_rows             = 0
# Make slave db read-only
# read_only                          = 1
# super_read_only                    = 1

# GENERAL #
socket                             = /var/lib/mysql/mysql.sock
pid_file                           = /var/lib/mysql/mysql.pid
innodb_use_native_aio              = 0
binlog_format                      = ROW
sync_binlog                        = 0
secure-file-priv                   = ""
log-warnings                       = 2
max_allowed_packet                 = 500M
max_connect_errors                 = 1000000
sql_mode                           = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY
sysdate_is_now                     = 1

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links                     = 0

# CACHES AND LIMITS #
tmp_table_size                     = 1M
max_heap_table_size                = 1024M
query_cache_type                   = 0
query_cache_size                   = 0
max_connections                    = 100
thread_cache_size                  = 256
open_files_limit                   = 65535
table_definition_cache             = 1024
table_open_cache                   = 1024
wait_timeout                       = 518400
net_read_timeout                   = 7200
net_write_timeout                  = 7200

# DATA STORAGE #
datadir                            = /var/lib/mysql/

# TEMP STORAGE #
tmpdir                             = /var/lib/mysqltmp/

# LOGGING #
log-error                          = /var/log/mysqld.log
log_queries_not_using_indexes      = 1
slow_query_log                     = 0

[mysqld_safe]